<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Songs</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Your songs</h2>

    <!--content goes here.-->

    <a href="/clicked" download>
        <button type="button" class="btn btn-primary">
            Download Excel File.
        </button>
    </a>
    <a href="/clicked" download>
        <button type="button" class="btn btn-primary">
            Download CSV File.
        </button>
    </a>

    <a href="/clicked" download>
        <button type="button" class="btn btn-primary">
            Download Text File.
        </button>
    </a>

    <a href="/clicked" download>
        <button type="button" class="btn btn-primary">
            Download PDF File.
        </button>
    </a>


</div>
<!-- Bootstrap JS and dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/js/bootstrap.bundle.min.js"></script>
</body>
</html>
